@charset 'utf-8';
@import url('notosanskr/NotoSansKR.css');
@import url('nanumsquare/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    font-family: 'Noto Sans KR', 'NanumSquare', '돋움', Dotum, '굴림', Gulim, Helvetica, 'Apple SD Gothic Neo', Tahoma, Geneva, sans-serif, verdana;
    letter-spacing: -0.64px;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}


body {
    font-family: 'Noto Sans KR', 'NanumSquare', '돋움', Dotum, '굴림', Gulim, Helvetica, 'Apple SD Gothic Neo', Tahoma, Geneva, sans-serif, verdana;
    font-size: 16px;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.wrap {
    position: relative;
    display: block;
}

/* header */
.header {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 999;
}

.header .container {
    height: 100px;
}

.logo {
    position: absolute;
    left: 0;
    top: 50px;
    transform: translateY(-50%);
    display: block;
    width: 50px;
}

.nav {
    position: absolute;
    right: 0;
    top: 50px;
    transform: translateY(-50%);
    display: block;
}

.gnb {
    position: relative;
    display: block;
    overflow: hidden;
}

.gnb li {
    position: relative;
    display: block;
    float: left;
    margin: 20px;
}

.gnb li a {
    position: relative;
    display: block;
    font-size: 16px;
    transition: all 0.2s;
    color: #0c74db;
    font-family: 'Sora', sans-serif;
}

.gnb li a:hover {
    color: #b1a8da;
}

/* //header */
/* main */
.main {
    position: relative;
    display: block;
}

.visual {
    position: relative;
    display: block;
}

.visual .container {
    height: 600px;
}

.visual-tit {
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%, );
}

.visual-tit h2 {
    font-size: 40px;
    color: #314163;
    font-weight: bold;
    z-index: 3;
}

.visual-tit h2 strong {
    font-size: 60px !important;
    font-weight: 600 !important;
    color: #0c74db !important;
}

.visual-tit h2::before {
    content: '';
    position: absolute;
    right: -450px;
    top: -110px;
    display: block;
    width: 500px;
    height: 500px;
    background: url('../images/visual1.png') no-repeat center;
    z-index: -1;
}

.visual-tit h3 {
    font-size: 24px;
    color: #145493;
    margin-bottom: 40px;
    text-align: left;
}

.about {
    position: relative;
    display: block;
    height: 800px;
    background-color: #fff2ce;
}

.about .container {
    margin-top: 150px;
    margin-bottom: 100px;
}

.about-left {
    position: relative;
    display: block;
    width: 50%;
    float: left;
}

.about-tit {
    color: #314163;
    font-weight: 600;
    font-size: 30px;
}

.about-tit::before {
    content: '';
    position: absolute;
    left: 0;
    top: -50px;
    width: 45px;
    height: 5px;
    background-color: #0066cc;
}

.about-txt {
    position: relative;
    display: block;
    line-height: 40px;
    color: #0066cc;
    font-weight: 400;
    font-size: 18px;
    padding-top: 30px;
}

.about-right {
    position: relative;
    display: block;
    width: 50%;
    float: right;
}

.about-img img {
    position: absolute;
    right: 0;
    top: -130px;
    display: block;
    width: 600px;
    height: 600px;
    border-radius: 40px;
    box-shadow: 0 6px 25px rgb(86 86 77 / 49%);
}

.mbti-img {
    position: relative;
    display: block;
    margin-top: 200px;
    width: 30%;
}

.mbti-img img {
    position: absolute;
    left: 0;
    top: 440px;
    display: block;
}

.mbti-tit {
    position: relative;
    display: block;
    margin-top: 350px;
    float: right;
    width: 70%;
    color: #314163;
    font-size: 24px;
    padding-left: 70px;
}

.mbti-tit .mt-txt {
    margin-top: 20px;
    color: #0066cc;
    font-size: 18px;
    line-height: 30px;
}

.skill {
    position: relative;
    display: block;
    height: 400px;
}

.skill .container {
    margin-top: 100px;
}
.skill .container .about-tit {
    margin-bottom: 30px;
}

.skill-left {
    position: relative;
    display: block;
    float: left;
    width: 55%;
}

.skill-main-txt {
    position: relative;
    display: block;
    line-height: 30px;
    color: #0066cc;
    font-size: 18px;
}

.skill-right {
    position: relative;
    display: block;
    float: right;
    width: 45%;
    margin-top: -50px;
    
}

.skills-icon::before {
    content: '';
    position: absolute;
    right: 0;
    top: 90px;
    display: block;
    width: 130px;
    height: 130px;
}

.html::before {
    left: 0;
    background: url('../images/icons8-html-5-48.png') no-repeat center;
}

.css::before {
    left: 100px;
    background: url('../images/icons8-css3-48.png') no-repeat center;
}

.scss::before {
    left: 200px;
    background: url('../images/icons8-scss3-48.png') no-repeat center;
}

.js::before {
    left: 300px;
    background: url('../images/icons8-jquery-50.png') no-repeat center;
}

.java::before {
    left: 400px;
    background: url('../images/icons8-javascript-48.png') no-repeat center;
}

.php::before {
    left: 0;
    top: 200px;
    background: url('../images/icons8-php-logo-100.png') no-repeat center;
}

.mysql::before {
    left: 130px;
    top: 200px;
    background: url('../images/icons8-mysql-logo-96.png') no-repeat center;
}

.vue::before {
    left: 260px;
    top: 200px;
    background: url('../images/icons8-vue-js-96.png') no-repeat center;
}

.boot::before {
    left: 390px;
    top: 200px;
    background: url('../images/icons8-boot3-48.png') no-repeat center;
}

.project {
    position: relative;
    display: block;
    height: 100%;

}

.project .container {
}

.project-list {
    position: relative;
    display: block;
    margin-bottom: 40px;
}

.project-list h3 {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #314163
}

.cc-div {
    position: relative;
    display: block;
    height: 400px;
    text-align: center;
}
.title-wrap {
    position: absolute;
    right: 80px;
    top: 0;
    display: block;
    height: 100px;
    width: 300px;
}


.cc-div>img {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    display: block;
    width: 350px;
    height: 350px;
    filter: grayscale(100%);
    transition: all 0.3s;
    z-index: -1;
}

.cc-div:hover>img {
    filter: grayscale(0%);
    box-shadow: 5px 3px 3px rgb(0 0 0 / 5%);
}

.cc-div-box {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-left: 30px;
}
.cc-div-box-vue {
    padding: 0 45px;
}

.cc-link {
    position: relative;
    display: inline-block;
    padding: 10px 12px;
    border: 3px solid #3c67e3;
    border-radius: 10px;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s;
    background-color: #fff;
}

.cc-div-title {
    font-size: 20px;
    margin-bottom: 5px;
    color: #314163;
}

.cc-div-txt {
    font-size: 14px;
    color: #0c74db;
}

.cc-link:hover {
    animation: pulsate 1s ease-in-out;
    color: #1697bf;
}

.cc-div-icon {
    position: absolute;
    right: 0px;
    top: 0;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 999;
}

.cc-div-icon i {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.cc-div-icon i:nth-child(1) {
    right: 10px;
    bottom: 1px;

}

.cc-div-icon i:nth-child(2) {
    right: -30px;
    bottom: 36px;

}

.cc-div-icon i:nth-child(3) {
    right: -70px;
    bottom: 76px;

}

.vue-div-icon i:nth-child(1) {
    right: 10px;
    bottom: -1px;

}

.vue-div-icon i:nth-child(2) {
    right: -30px;
    bottom: 39px;

}

.vue-div-icon i:nth-child(3) {
    right: -75px;
    bottom: 76px;

}


@keyframes pulsate {
    0% {
        box-shadow: 0 0 25px #5ddcff, 0 0 15px #4e00c2;
    }
}

.life {
    position: relative;
    display: block;
    height: 530px;
    background-color: #ddccdf;
    margin-top: 200px;
}

.life .container {
}

.life .container .about-tit{
    margin-bottom: 40px;
}

.snip1445 {
    position: relative;
    overflow: hidden;
    margin: 30px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: #000000;
    float: left;
}

.snip1445 *,
.snip1445 *:before,
.snip1445 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
}

.snip1445 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    width: 400px;
    height: 400px;
}

.snip1445 figcaption {
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 5px 10px 10px;
}

.snip1445 figcaption:before,
.snip1445 figcaption:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

.snip1445 figcaption:before {
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.snip1445 figcaption:after {
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.snip1445 figcaption div:before,
.snip1445 figcaption div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

.snip1445 figcaption div:before {
    top: 0;
    left: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.snip1445 figcaption div:after {
    bottom: 0;
    right: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.snip1445 h2,
.snip1445 h4 {
    margin: 5px;
    text-transform: uppercase;
    
}

.snip1445 h2 {
    font-weight: 400;
}

.snip1445 h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
}

.snip1445 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.snip1445:hover img,
.snip1445.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
    box-shadow: 10px 3px 3px rgb(0 0 0 / 5%);
}

.snip1445:hover figcaption:before,
.snip1445.hover figcaption:before,
.snip1445:hover figcaption:after,
.snip1445.hover figcaption:after,
.snip1445:hover figcaption div:before,
.snip1445.hover figcaption div:before,
.snip1445:hover figcaption div:after,
.snip1445.hover figcaption div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.snip1445:hover figcaption:before,
.snip1445.hover figcaption:before,
.snip1445:hover figcaption:after,
.snip1445.hover figcaption:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.contact {
    position: relative;
    display: block;
    height: 500px;
    margin-bottom: 50px;
}

.contact .container {
    height: 500px;
    margin-top: 300px;
}
.contact .container .about-tit{
    margin-bottom: 30px;
}

.cont-left {
    position: relative;
    display: block;
    float: left;
    width: 40%;
}
.cont-right {
    position: relative;
    display: block;
    float: right;
    width: 60%;
    margin-top: 100px;
}
.cont-right a {
    display: block;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    color: #0c74db;
    margin-bottom: 25px;
}
.cont-right a i {
    color: #000000;
    margin-right: 20px;
    font-size: 30px;
}

/* //main */
/* footer */
.footer {
    position: relative;
    display: block;
    background-color: #a09da8;
    text-align: center;
    color: #314163;
}

.footer .container {
    padding: 50px 0;
}

.footer .container a {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #314163;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.footer .container a:hover {
    color: #1697bf;
}

.footer-tit {
    position: relative;
    display: block;
    font-size: 18px;
    padding-top: 15px;
}

.footer .container li a {
    color: #314163;
    font-size: 16px;
}

.footer .container li a:hover {
    color: #1697bf;
}
/* //footer */
